<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INI TENTANGKU</title>
</head>
<body>
    <table border="1">
      <tr>
         <th>NAMA</th>
         <th>ALAMAT</th>
         <th>HOBBY</th>
         <th>PRODI</th>
         <th>STATUS</th>
         <th>UMUR</th>
      </tr>
      <tr>
         <td>Aisyatur Rohmah</td>
         <td>Jl.Temenggungan no.65</td>
         <td>Singing</td>
         <td>Teknik informatika</td>
         <td>Mahasiswa</td>
         <td>19</td>
      </tr>
    </table>
    
</body>
</html>